[2021-08-25 13:21] WarmBeer opened #4 "wip/udp-server-rewrite: Scrape requests need to be fixed for both the UDP server and HTTP rest api."
handle_scrape function needs to be uncommented and debugged. Max torrents in scrape response should be 74.

[2021-08-27 01:18] WarmBeer opened #10 "external IP is wrong sometimes when using default config (no ip set)"

[2021-09-01 12:54] WarmBeer opened #14 "Implement BEP 41 for UDP peer authentication"
http://bittorrent.org/beps/bep_0041.html

[2021-09-02 19:58] #14 closed

[2021-09-02 20:01] WarmBeer opened #17 "external IP is wrong sometimes when using default config (no ip set)"

[2021-09-02 20:01] #10 closed

[2021-10-10 20:56] WarmBeer opened #28 "Unit test coverage is 0%, should target 80+%."

[2021-10-10 20:57] WarmBeer opened #29 "Add a pipeline to automatically run unit tests"

[2021-10-24 18:33] WarmBeer opened #31 "Implement HTTPS support for torrent/peer announcing"
Currently the tracker only supports UDP, which is not safe for session hijacking.

[2021-12-02 18:57] #31 closed

[2022-01-10 20:32] mickvandijke opened #1 "Add support for HTTP seeds"

[2022-01-10 20:45] mickvandijke opened #2 "Exclusively run UDP or HTTP server instead of both at the same time"
Currently the UDP server is required in the config.toml, while the HTTP server is optional.

[2022-01-11 17:01] mickvandijke opened #3 "Automatically load and create config.TOML in root folder"

[2022-01-11 17:02] mickvandijke commented on #3
https://github.com/torrust/torrust-tracker/commit/08f869087f76bc4bcb1d75556e5e35da65353108

[2022-01-11 17:02] #3 closed, assigned to nobody

[2022-01-12 16:57] #2 closed, assigned to nobody

[2022-01-27 09:33] greatest-ape opened #5 "Code used without attribution"
Source code for udp request parsing (and seemingly other code) is quite obviously copied from [aquatic](https://github.com/greatest-ape/aquatic/blob/master/aquatic_udp_protocol/src/request.rs). Please note that it is distributed under a license that requires attribution ;-)

[2022-01-27 15:49] mickvandijke commented on #5
You're right, sorry for that! I'll fix the licensing and properly credit you.

[2022-01-27 18:50] mickvandijke commented on #5
Hey @greatest-ape , I have indeed copied code over from Aquatic to https://github.com/torrust/torrust-tracker/blob/main/src/udp_server.rs and https://github.com/torrust/torrust-tracker/blob/main/src/common.rs .

How would you prefer to be credited?

[2022-01-27 20:06] greatest-ape commented on #5
Hey @WarmBeer,

It might be easier to remove the copied code and instead depend on the aquatic_udp_protocol crate (see https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-git-repositories). :-)

Otherwise, you need to redistribute the [Apache 2.0 license](https://www.apache.org/licenses/LICENSE-2.0) file with the source code (e.g. in your repository)

[2022-01-27 20:09] greatest-ape commented on #5
Also, are you sure code wasn't copied here too? ;-) https://github.com/torrust/torrust-tracker/blob/main/src/response.rs

[2022-01-29 09:13] mickvandijke commented on #5
Hey @greatest-ape ,

Thank you for the detailed response! Open source development and the licensing that comes with it are new themes for me (I'm currently still in college studying Software Engineering), so I really appreciate your helpfulness :).

I've decided to fully delete the copied code from aquatic and instead depend on https://crates.io/crates/aquatic_udp_protocol .

The notice is still b

[2022-01-29 16:18] greatest-ape commented on #5
@WarmBeer Alright, great! Yes, I feel the issue is the resolved.

Also, there are some crates that attempt to tackle the problem you mentioned, for instance  https://github.com/embarkstudios/cargo-about.

[2022-01-29 16:55] mickvandijke commented on #5
Cool! That might just save me some headaches :)

[2022-01-29 16:55] #5 closed, assigned to nobody

[2022-01-30 12:46] PseudoResonance opened #8 "32-bit Unsigned Integer Too Small for Uploaded/Downloaded/Left/Corrupt Values"
With many torrents, a u32 is too small for the uploaded, downloaded, left and corrupt bytes values. 4294967295 is only a 4GiB file...

[2022-01-30 20:20] HDVinnie opened #9 "DB Drivers"
Is MySQL planned? This looks interesting and maybe beneficial for my project here https://github.com/HDInnovations/UNIT3D-Community-Edition

[2022-01-30 20:38] mickvandijke commented on #8
You're absolutely right, I'll change them to u64.

[2022-01-30 20:51] mickvandijke commented on #9
Adding support for other DB drivers is something I'm definitely planning to do :)

[2022-01-31 18:53] Zibbp opened #11 "Docker Support"
Is Docker support planned? A docker container for the tracker and backend/frontend would be amazing.

[https://blog.logrocket.com/packaging-a-rust-web-service-using-docker/](https://blog.logrocket.com/packaging-a-rust-web-service-using-docker/)

[2022-01-31 21:31] redrocket3 opened #12 "HTTP tracker over reverse proxy"
I'm having troubles using the HTTP tracker over a reverse proxy if it is possible? I'm using caddy to reverse proxy the port assigned to the `http_tracker` section but upon creating a torrent and trying to connect two clients it does not download. I'm able to navigate to the domain I set in the proxy and it connects to the http tracker.

As a test I tried creating a torrent using the IP:PORT such

[2022-02-01 01:12] HDVinnie commented on #9
@WarmBeer you on discord by any chance?

[2022-02-01 06:20] mickvandijke commented on #9
Yeah, `Warm Beer#3352`

[2022-02-02 03:15] PseudoResonance commented on #11
I built my own Docker image just to keep it more organized when running, but I ran into the issue that Torrust can't get the correct client IPs while inside Docker. There's a relevant issue here discussing the problem and some potential solutions, like giving the container host network access.
https://github.com/moby/moby/issues/15086

[2022-02-02 10:34] mickvandijke commented on #12
Setting up Torrust behind a reverse proxy is not supported yet. I'll put this on top of the todo-list

[2022-02-02 10:40] mickvandijke commented on #11
I'm planning on adding Docker images, after I add support for reverse proxy's 😄

[2022-02-03 00:34] mickvandijke commented on #12
Implemented: https://github.com/torrust/torrust-tracker/commit/b8501f4da6a0aefdc48b68481c2672d4320656ea

[http_tracker]
...
on_reverse_proxy = true

[2022-02-03 00:34] #12 closed, assigned to nobody

[2022-02-03 11:56] mickvandijke commented on #8
https://github.com/torrust/torrust-tracker/commit/007a4219b69ff74ca488c64e49034e22dee27c41

[2022-02-03 11:56] #8 closed, assigned to nobody

[2022-02-19 12:16] Zorlin opened #15 "Webtorrent support"
It would be crazy cool if like Aquatic this supported webtorrent.

[2022-02-19 12:27] Zorlin commented on #11
I'll happily package this for Kubernetes once Docker support is done, as a bonus.

[2022-03-05 21:09] BabaBooey84 opened #40 "Getting compiling errors"
I'm trying to compile the torrust tracker on a fresh Ubuntu 20.04 VPS. Help :sweat_smile:

error: could not compile `torrust-tracker`
Caused by:
  process didn't exit successfully: `rustc --crate-name torrust_tracker --edition=2018 src/main.rs --error-format=json --json=diagnostic-rendered-ansi,future-incompat --crate-type bin --emit=dep-info,link -C opt-level=3 -C lto=fat -C metadata=abe589342472

[2022-03-12 22:35] Power2All opened #18 "Working on a forked version, with possible merge features"
Hi !

I just picked up your project, after my own GOLANG torrent tracker project hit a brick wall (literally), which was the Garbage Collector. Currently I am using your tracker software, but noticed a lot of flaws and possible huge improvements, using my own project as blue-print.

Some of the features I'm working on, and have already fixed:

* [X] Can now both separately listen on both HTTP and

[2022-03-12 23:48] Pupwiz opened #19 "Error only .torrent files"
I'm not sure what I may be missing.
Everything seem to be working and all categories etc. show up.
Account created access seem to work. Doing a test with the debian net ISO and or any other torrent and I get " only
.torrent files can be uploaded" even though they are .torrent files.

[2022-03-13 21:40] mickvandijke commented on #18
Hey @Power2All , that is awesome! I'm glad to see other people going through the code as there are indeed lots of improvements to be made and lots of features to add!

I saw on your account that your are Dutch too. Would you like to have a chat about Torrust so that we could potentially work together? If so, hit me up on Discord: `Warm beer#3352`

[2022-03-13 21:50] mickvandijke commented on #19
Could you send me some of those .torrent files that don't work? I would like to try them for myself and see what's going wrong :)

[2022-03-13 22:06] Power2All commented on #18
Sure.
I tried adding you, but didn't work.
Try adding me with this: ``Power2All#1482``

[2022-03-13 23:09] Power2All commented on #18
I've need potential help with something I cannot figure out.
NewTrackOn checks on basis of everything, but without a downloaded and uploaded query, so I'm trying to figure out how to make it so that it doesn't give a error when it's missing on a downloaded and uploaded query parameters in announce requests.
If you could tell me a simple solution for that, it would be nice, since I tried some stuff

[2022-03-13 23:18] Pupwiz commented on #19
I have to think something on my setup is wrong  or causing the issue. I  actually tried to add the debian torrent.
https://cdimage.debian.org/debian-cd/current/amd64/bt-cd/debian-11.2.0-amd64-netinst.iso.torrent
and it's not allowing even it. I have it set to test on a none https nginx server.  As it wont take a known working torrent I would have to believe it's my setting or permissions that woul

[2022-03-13 23:37] mickvandijke commented on #19
I could upload the debian torrent just fine to my demo Torrust: https://torrust.dutchbits.nl/torrent/2/Debian.ISO .

I think it has something to do with your NGINX client_max_body_size setting being too low: https://docs.rackspace.com/support/how-to/limit-file-upload-size-in-nginx/#:~:text=By%20default%2C%20NGINX®%20has,location%20block%20to%20edit%20client_max_body_size.

[2022-03-14 15:56] mickvandijke commented on #18
I've just sent you a friend request on Discord.

[2022-03-14 17:33] Pupwiz commented on #19
So I ditched everything last night and did a default install on my test box.
Running Debian 11.2 and using guide from website install page. This is all bone stock (fresh install of all on kvm nothing else but the required packages that are on the install page) without changing anything except external ip and running from the browser with IP. Defaults all load on server, nginx loads /dist folder an

[2022-03-14 17:36] mickvandijke commented on #19
I'm sorry for the issues you're running into. I will investigate this right now and let you know what I find.

[2022-03-14 17:46] mickvandijke commented on #19
So the error "only .torrent files can be uploaded." gets thrown when the torrent field in the upload POST request does not have the type "application/x-bittorrent". Are you uploading the torrent through the Torrust Index upload form?

[2022-03-14 18:25] Pupwiz commented on #19
Yes. I haven't tried it from server directly as loading from the cli wouldn't be useful. Not sure I would know how to make that work even from reading the guide.
This isn't a big rush issue. I have no issues using the torrust-tracker (running without any issue) with a public trackers and a private torrent. This just would be really nice addition to my site and servers.
![16472822752167678126119401

[2022-03-16 06:10] jamiew0w commented on #19
@Pupwiz what browser are you using?

`type=application/x-bittorrent` needs to be specified (and should be by default in your browser) but it seems like that's being stripped somehow. If it doesn't work in other browsers, how does your nginx config look?

[2022-03-16 15:28] Pupwiz commented on #19
Tried both browser types - Edge / Chrome . Noticed Nginx didn't have mime type for .torrent and added it to the mime types

nignx default

server {
    listen 80;
client_max_body_size 100M;
 root /home/media/torrust/frontend/dist/;
        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;
        server_name _;
        #return 301 https://

[2022-03-17 00:20] jamiew0w commented on #19
Have you tried cutting out Nginx and uploading directly via the API?
[code]
If that works we'll know the issue lays with Nginx.
Can grab the token via browser console -> storage or [here](https://torrust.com/torrust-index/api/)

[2022-03-17 01:51] Pupwiz commented on #19
So I didn't try it until you suggested it. Found my bearer token in the browser console and added it manually. It has no problem taking it by issuing the above.
curl -X POST 'http://localhost:3000/torrent/upload' -H 'Content-Type: multipart/form-data' -H 'Authorization: Bearer eyXXXX' -F 'torrent=@"/home/media/debian-11.2.0-amd64-netinst.iso.torrent";type=application/x-bittorrent' -F 'title="Debia

[2022-03-17 02:06] Pupwiz commented on #19
My nginx server configs
upstream transmission {
    server 192.168.1.121:9091;
    keepalive 4;
}

upstream netdata {
    server 192.168.1.121:19999;
    keepalive 64;
}

server {
 client_max_body_size 100M;
 root /home/media/torrust/frontend/dist/;
	# Add index.php to the list if you are using PHP
	index index.html index.htm index.nginx-debian.html;
	server_name xx.com www.xx.com;
	#return 301 ht

[2022-03-17 02:53] Pupwiz commented on #19
Yes?
user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 524288;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
       #tcp_nopush on;
	types_hash_max_size 2048;
	# server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_

[2022-03-17 10:50] #18 closed, assigned to nobody

[2022-03-18 16:35] Pupwiz commented on #19
This doesn't require nginx upload progress module  does it?

[2022-03-19 21:35] mickvandijke commented on #19
No, I'm just using a default NGINX setup. I honestly have no idea why it isn't working for you.

[2022-03-20 00:54] mickvandijke commented on #9
This is actively being worked on now 😄

[2022-03-23 13:38] Pupwiz commented on #19
So today I discovered by doing some testing that Asus router is blocking the upload function so there is nothing wrong with the scripts. I'll start a new thread for this issue.

[2022-03-23 13:38] #19 closed, assigned to nobody

[2022-04-12 19:39] mickvandijke commented on #9
https://github.com/torrust/torrust-tracker/commit/5baea30dfe2f9cb2f3005de63775622bf3bb3396

[2022-04-12 19:39] mickvandijke commented on #9
Will be merged into main after refactoring some other code.

[2022-04-21 14:33] iloveyourwife opened #35 "Add Existing Tracker Key"
Hi,
I can see in the documentation : https://torrust.com/torrust-tracker/api/#tracker-keys that we can generate or delete tracker keys.
But is it possible to add existing tracker keys ? I'm migrating from another famous tracker, and I want to keep my existing users tracker key from my database.
The keys are in similar format.

Thanks

[2022-04-21 15:01] fistwho opened #36 "Error starting Tracker "Errors while processing config: invalid type: map, expected a sequence.""
Hi, i use the Docker Image for the tracker (zorlin/torrust-tracker:latest).

I want to start the tracker container but i got an error on startup.

Log from Docker:
[code]

My Config:
[code]

I dont see a problem in the config? Need a hint ;)

Greets

[2022-04-21 22:26] akbasemre1 opened #37 "Error while compiling torrust-tracker"
error: linking with `cc` failed: exit status: 1
  |
  = note: "cc" "-m64" "/opt/torrust/torrust-tracker/target/release/deps/torrust_tracker-165bb573ecdbab69.torrust_tracker.f579bc99-cgu.15.rcgu.o" "-Wl,--as-needed" "-L" "/opt/torrust/torrust-tracker/target/release/deps" "-L" "/opt/torrust/torrust-tracker/target/release/build/ring-ecc3597f7d7a4ca7/out" "-L" "/usr/lib/rustlib/x86_64-unknown-linux-gn

[2022-04-24 01:17] #37 closed, assigned to nobody

[2022-05-02 21:00] mickvandijke commented on #36
Hey! I'm terribly sorry for the late response. I've completely read over your issue.

I believe the mistake is made in `[http_trackers]` and `[udp_trackers]`. Both should have double brackets: `[[http_trackers]]` and `[[udp_trackers]]`.

[2022-05-02 21:22] mickvandijke commented on #35
It is only possible to manually add existing tracker keys directly to the database and they have to be 32 chars.

[2022-05-08 12:25] dev1z opened #42 "Torrust scrape has packed data errors and is not properly formatted"
Hello, there seems to be an error with packed data when scraping announce both udp and http/s.

The format should be `d5:filesd20`, but on gbitt and torrust it is random, sometimes it is `d5:filesd50`, `d5:filesd54`, etc. Thats why almost all scrapers returns invalid data for info hash.

Seems like it is using aquatic source for scraping, but aquatic returns correct bytes of 20, where torrust does

[2022-05-08 15:31] mickvandijke commented on #42
Thank you for the heads-up. I've implemented a fix for this in the coming release: https://github.com/torrust/torrust-tracker/commit/aac9ac72bdd300ffb2959ba6f2a1ee04ecac5895

[2022-05-08 15:41] dev1z commented on #42
Thank you @WarmBeer. I have 2 questsions:

1# Will this implementation also work for udp scrape?

2# Any chance to have an explanation about `peer_timeout` config variable. Is this deleting peers after 900 seconds if the peer returns `event=stopped`?

[2022-05-08 19:08] mickvandijke commented on #42
1# No this was a fix for HTTP only, I'm looking into UDP atm.

2# The peer_timeout variable is the max amount of seconds a peer may be inactive (after last announce) before it is removed by the tracker. This is for peers that stopped announcing, but never sent a stopped event. Peers that send a stopped event get removed instantly.

[2022-05-08 20:03] dev1z commented on #42
1# Great one, being able to use udp to scrape is also needed as most public trackers need to have it.

2# I understand. What is the best way to use torrust as private tracker to track user ratio? Is there some way to insert into database peers via api or something (that would also need to import event=stopped peers as well)

[2022-05-09 07:48] iloveyourwife opened #43 "Tracker won't start : Errors while processing config: TrackerModeIncompatible."
I've an error when starting tracker :

[code]

Here is my config file :

[code]

[2022-05-09 11:52] mickvandijke commented on #43
Sorry for this, we made a mistake in the config code, that basically does not allow the tracker to run in private mode. Your config is correct.

I will push a new release of the tracker later today that fixes this and many other bugs/performance issues.

[2022-05-09 19:30] Power2All commented on #42
I let @WarmBeer look into this, but UDP works fine as far as I'm aware on the development branch.
Right now, I'm making a total rewrite of the core by switching from WARP to the faster and better performing ACTIX framework.
What is exactly the problem with the UDP scraping if I may ask, you got some wireshark or debugging information on which we can debug it on ?

[2022-05-09 20:52] mickvandijke commented on #43
New release (v2.3.0) is now available.

[2022-05-09 21:01] dev1z commented on #42
Seems like I had some issues when testing on windows. Works fine when scraping udp on ubuntu.

Not an issue with tracker.

[2022-05-09 21:04] dev1z opened #45 "Documentation update"
Please update the documentation as the code on torrust.com is incorrect (missing double `[[brackets]]`) and include more user friendly explanation of all new/old config options and how to use new mysql drivers

[2022-05-10 07:16] mickvandijke commented on #45
Documentation will be updated today.

[2022-05-10 10:17] dev1z commented on #45
Thanks didn't test it yet but but noticed gbitt is offline since you guys pushed update is it because of some error in code or misconfiguration? @Power2All @WarmBeer

[2022-05-10 13:54] #43 closed, assigned to nobody

[2022-05-10 15:00] Power2All commented on #45
Yeah, that's why I'm rewriting the code from WARP to Actix.
Will take some time until we get a working version prepared, but it should have all the issues solved we have found while working on this.
Current server's memory limitation is hitting, because of a possible memory leak, so Linux is killing the process eventually.
Gbitt is up again, but yeah, it has a memory leak, so I'm working on a repl

[2022-05-11 10:55] mickvandijke commented on #45
Docs have been updated to 2.3.0

[2022-05-11 10:55] #45 closed, assigned to nobody

[2022-05-11 11:57] mickvandijke commented on #9
This has been implemented in the released v2.3.0

[2022-05-11 11:57] #9 closed, assigned to nobody

[2022-05-12 10:23] dev1z commented on #42
@WarmBeer Ok, this definitely is not fixed.
 I just found out udp scraping works on < 2.2.0 version, everything >= 2.2.0 returns invalid scraping response on udp.

Tested locally and scraped with https://github.com/medariox/scrapeer and https://github.com/Novik/ruTorrent

[2022-05-15 16:40] dev1z opened #46 "Feature requests and code improvement"
@Power2All, @WarmBeer Here are some ideas to improve tracker usability which I have in mind. Would like to know if this is out of scope or it is possible to be added without hurting performance.

1. Add prefix config option for mysql/sqlite table names to avoid duplication (eg. prefix_peers, prefix_torrents, prefix_keys)
2. Add private key in peers api when tracker is in private mode.
3. Add more

[2022-05-15 17:11] Power2All commented on #46
API will be dealt with when the basic announce and scrape system works on the new core I'm rewriting now.
I'm currently in the process of handling the query data and do a validation on it.
When this all works, I can work it further out, but since I'm not in my home right now (on vacation right now), I haven't gotten around it very much yet, since 38 celcius every day doesn't make it fun to program

[2022-05-18 08:06] iloveyourwife commented on #46
I was about to open an issue with the sames things, when i saw this feature request.
Indeed it would be convenient to have these kind of endpoints for private mode, particularly getting stats for a private key (downloaded/uploaded).

[2022-05-22 01:42] AnimeSub opened #48 "Peer and torrent specific statistics"
Statistics which will show how much has been transferred, how many people downloaded, how many people are downloading, graph, etc will look awesome

[2022-05-23 17:01] rakema01 opened #49 "Option to disable auth key expiration"
Would be a neat thing to have when the focus of the site is to seed for long periods of time. Also especially helpful when you've got too many torrents and having to change the tracker URL to match the key is a pain. Of course, there's the option to change the expiry length to a random huge number but having an option to outright disable expiry checks is a bit cleaner in my opinion. In its place,

[2022-05-24 09:28] mickvandijke commented on #49
Good idea. I will make it so that if valid_until is set to 0, the key won't expire.

[2022-05-24 11:24] mickvandijke commented on #42
I've tested the UDP scraping with https://pypi.org/project/tracker-scraper/ and the result was valid and as expected, so I'm not sure why it doesn't work in your case. Are you sure UDP is enabled on the tracker and does it run in Public mode?

[2022-06-16 13:36] cgbosse opened #50 "README: Review and adapt to the Torrust Index format"

[2022-06-16 14:33] #50 closed, assigned to cgbosse

[2022-06-21 12:18] cgbosse opened #52 "Project License is listed as AGPL 3.0 all other repositories have the Nautilus standard licensing approach."
Questions:
- Why is this repo's license setup different?
- Shall we customize all the organizations license to just name Torrust or shall we indicate its belonging to the Nautilus organization and leave the licenses as they are.

![image](https://user-images.githubusercontent.com/15330600/174796276-7d0430eb-de84-41d8-a93c-0eb8afdf4b96.png)

[2022-06-21 14:28] mickvandijke commented on #52
1. This repository/project does not contain any UI elements such as images, that’s why it is only licensed as AGPL-3.0 while torrust-index is dual-licensed I guess.

2. Yes the licenses still need to be updated to point to Torrust.

[2022-06-22 09:31] cgbosse commented on #52
I think that we should keep the same licensing approach here.
Folders and documents should be the same.

The license for code is AGPL either way.
Since it is clearly stated that the AGPL 3.0 license applies to code it is ok to follow the same approach as with the other repositories.

Besides there is now one image the logo. : )

I will create the Licensing folder and include the contributor agreem

[2022-06-22 09:31] cgbosse commented on #52
I will prepare the merge and not merge until we discuss it tomorrow.

[2022-07-01 08:00] josecelano opened #54 "Error compiling: `/usr/bin/ld: cannot find -lsqlite3`"
Running this command: `cargo build --release` I get this error:

[code]

- Ubuntu: 21.10
- Cargo: cargo 1.60.0
- rustc 1.60.0

[2022-07-01 08:01] josecelano commented on #54
Fixed with: `sudo apt-get install libsqlite3-dev`

[2022-07-01 08:01] #54 closed, assigned to nobody

[2022-07-06 15:52] josecelano commented on #11
I've created a PR with a Dockerfile only for this service. We could create docker images also for the backend and frontend. I think it would be also helpful to create a docker-compose file in order to build and run all the services with a single command. That it would make much easier to start coding and also it would make it easier for other developers to try things without having to install all

[2022-07-06 16:23] Zorlin commented on #11
Hi @josecelano - take a look at https://github.com/zorlin/torrust-docker ...

:)

[2022-07-07 09:17] josecelano commented on #11
Hi @Zorlin cool!!!

Just a couple of questions/comments:

1. I think it would be nice to have a new docker layer for tracker and backend with only the dependencies as described [here](https://www.lpalmieri.com/posts/fast-rust-docker-builds/).
2. It seems your repo was designed to build a production release with the latest version of each repo. I was thinking more about using docker-compose for dev

[2022-07-11 17:01] josecelano commented on #40
Fixed [here](https://github.com/torrust/torrust-documentation/issues/1).

[2022-07-11 17:01] #40 closed, assigned to nobody

[2022-07-26 13:07] cgbosse commented on #52
Was already addressed.

[2022-07-26 13:07] #52 closed, assigned to da2ce7, MCM-Mike, mickvandijke, cgbosse

[2022-07-27 10:34] Power2All commented on #1
Can be closed, this is client-sided only, and is purely added into the torrent file itself as a announce URL, but then as webseed.

[2022-07-27 21:20] #1 closed, assigned to nobody

[2022-08-10 08:51] josecelano opened #58 "Wrong HTTP response code from API for unauthorized request"
Request without token:

[code]

Request with token:

[code]

I think the response code should be `401` for this endpoint.

### Links

1. https://auth0.com/blog/forbidden-unauthorized-http-status-codes/
2. https://enterprisecraftsmanship.com/posts/rest-api-response-codes-400-vs-500/

[2022-08-10 11:29] mickvandijke commented on #58
I think you're right, this should be returning a 401.

[2022-08-10 13:29] josecelano opened #59 "Publish it on crates.io"
Wouldn't it be useful to publish it on https://crates.io/?

I would like to write more documentation for the package. For example, for API endpoints like this:

![image](https://user-images.githubusercontent.com/58816/183913267-6467a82c-d608-47c1-a244-95e262d6e6a3.png)

If we do that, we can automatically have online documentation on https://docs.rs/.

If for some reason, we do not want to publish

[2022-08-10 13:35] josecelano commented on #59
I would also like to add more info for developers about how to set up your local env to start contributing to this repo. Maybe for those "tutorials", we could use markdown in the `docs` folder with mkdocs (or without mkdocs).

[2022-08-10 13:47] mickvandijke commented on #59
I haven't looked into this yet, but I noticed that most rust projects have a https://crates.io/ page, so it would probably be great for our project too :)

[2022-08-10 13:54] josecelano commented on #59
OK, we can add one more job in the CI workflow to publish it when we release a new version.

[2022-08-10 17:58] da2ce7 commented on #59
@josecelano @WarmBeer

I think that it is a good idea to publish to to https://crates.io/ .  I think that we should consider tagging our releases as "beta", so that others don't get the idea we think that our code is production-ready. (even if it is already used in production somewhere)...

[2022-08-11 08:43] josecelano opened #61 "Refactor: rename `peer.updated` field in torrent detail endpoint"
[code]

@WarmBeer , would not it be nice to rename the `updated` field like this:

[code]

To get a json like this:

[code]

I generally like to add the units in the attribute name.

We can use any other name like: `not_updated_duration_in_msecs`, `not_updated_duration_in_msecs`, ...

_Originally posted by @josecelano in https://github.com/torrust/torrust-tracker/issues/60#issuecomment-1210719772_

[2022-08-11 08:48] josecelano commented on #61
It seems the backend does not use it:

https://github.com/torrust/torrust-index-backend/blob/8fbbb5ba3a80d1206e56a82391cc49740e803f54/src/tracker.rs#L22

so it would be safe to rename it, at least for other projects in the organization. It's a breaking change for external projects using only this tracker.

[2022-08-11 08:57] josecelano opened #62 "Refactor: re-implement connection id for UDP tracker"
BEP 15: https://www.bittorrent.org/beps/bep_0015.html

This is what the BEP 15 says about the connection ID:

And this is the current implementation:

[code]

_Originally posted by @josecelano in https://github.com/torrust/torrust-tracker/issues/60#issuecomment-1210961955_

[2022-08-11 09:09] josecelano commented on #62
I think we could research a little bit about what other implementations do:

**webtorrent**

Repo: https://github.com/webtorrent/bittorrent-tracker

Connection id generation: https://github.com/webtorrent/bittorrent-tracker/blob/ff20a05e4830dd62df16da0a549e69ae96843b4d/lib/common-node.js#L12

It's strange, but it seems they use a fixed value.

UPDATE: it's not a fixed connection id. There are two

[2022-08-11 09:13] josecelano commented on #62
**lafayette**

Repo: https://github.com/lafayette/udp-torrent-tracker

It seems they generate a random one, but they do not check it:

https://github.com/lafayette/udp-torrent-tracker/blob/cc60057adae9a1ddb96a5e2aa304aebda98482fd/src/su/lafayette/udptracker/Handler.java#L25

[2022-08-11 09:19] josecelano commented on #62
**troydm**

Repo: https://github.com/troydm/udpt

It seems to be the same implementation we are using but in C++:

[code]

- Implementation: https://github.com/troydm/udpt/blob/master/src/db/driver_sqlite.cpp#L410-L418
- Verification: https://github.com/troydm/udpt/blob/master/src/udpTracker.cpp#L285
- Verification: https://github.com/troydm/udpt/blob/master/src/udpTracker.cpp#L443

[2022-08-11 12:06] josecelano commented on #62
**elektito**

Repo: https://github.com/elektito/pybtracker
Language: Python

It generates a random identifier for the connection:

https://github.com/elektito/pybtracker/blob/master/pybtracker/server.py#L25-L31

[code]

The ID is in the range [0 .. 0xffffffffffffffff]

It validates the connection id on each request:

https://github.com/elektito/pybtracker/blob/master/pybtracker/server.py#L47-L57

[2022-08-11 14:37] josecelano commented on #62
hi @WarmBeer @da2ce7, In the end, the current implementation could be valid.

I think it could be a way to generate expirable ids without storing them in memory or a database.

This is the current implementation.

[code]

- The protocol specification: From BEP 15: https://www.bittorrent.org/beps/bep_0015.html
- The "connection ID" is a 64-integer (signed)

The goal of the "connection ID" is to avo

[2022-08-11 17:21] mickvandijke opened #63 "Add some basic benchmarking of the tracker"

[2022-08-11 18:15] josecelano commented on #62
My hex<->decimal previous convertions were not exact. These are the right values:

[code]

[2022-08-11 21:26] mickvandijke opened #65 "Tracker does not release memory to OS after cleaning up the torrents BTreeMap"
https://github.com/torrust/torrust-tracker/blob/065ca8001b5d68feffe3285ce32512b7e5cdae6f/src/tracker/tracker.rs#L225

Should also resize the torrents BTreeMap after torrent cleanup, so that it can release unneeded memory allocation back to the OS.

[2022-08-11 22:35] mickvandijke commented on #62
The Connection ID is supposed to be a secret code that is only sent to the actual owner of an IP address. With this Connection ID, a peer can proof it actually owns the IP address it announced with. If this Connection ID is the same for all clients, it is very easy for a malicious actor to announce as a different IP address. The malicious actor can then just send a connection request with their ow

[2022-08-11 22:58] mickvandijke commented on #62
I've edited my reply to also include the peer port.

[2022-08-12 09:00] josecelano commented on #59
hi @WarmBeer @da2ce7

What we should do once we start publishing the package:

1. Include the version field in the `Cargo.toml`

[code]

More info: https://rurust.github.io/cargo-docs-ru/manifest.html#the-version-field

2. Follow semver rules:

- https://rurust.github.io/cargo-docs-ru/crates-io.html#publishing-a-new-version-of-an-existing-crate
- https://rurust.github.io/cargo-docs-ru/manifest.htm

[2022-08-12 11:32] mickvandijke commented on #62
https://github.com/torrust/torrust-tracker/pull/67

[2022-08-12 11:33] #63 closed, assigned to mickvandijke

[2022-08-12 13:52] mickvandijke commented on #65
Context:

The tracker stores all torrents with peer information in a hashmap. This hashmap grows and shrinks depending on the amount of torrents and peers it holds.

Problem:

After the `inactive_peer_cleanup_interval`, the tracker deletes all inactive peers and empty torrents from the aforementioned hashmap. This means that theoretically the hashmap can shrink from 10,000,000 torrents to 0. The p

[2022-08-12 14:45] mickvandijke commented on #59
I'm not sure what the best practice is in this case. But I do prefer keeping the old tags and version numbers as they are and continue on a new major release: `3.0.0` and add the beta tag (like @da2ce7 proposed) for untested releases. Eg: `3.0.0-beta`

[2022-08-12 16:19] #65 closed, assigned to mickvandijke

[2022-08-12 16:43] josecelano commented on #59
That's fine for me. After all, we have not defined what we consider a ready-for-production app. And we have not even published an official package on crates.io. Maybe we should simply write down a list of things we consider essential in order to use the app in production, and they are still missing.

I can start. For me, essential things are:

- Following strictly semver conventions,so people can

[2022-08-12 18:01] da2ce7 commented on #59
We can have `3.0.0-beta` and `3.0.0-beta.2` and so on.

[2022-08-14 14:05] mickvandijke opened #68 "Compilation issues for --target `armv7-unknown-linux-gnueabihf`"
Torrust won't compile to armv7-unknown-linux-gnueabihf (Raspberry Pi etc..).

[2022-08-14 14:28] mickvandijke commented on #68
After some painful hours, I've figured out a way to cross compile to armv7-unknown-linux-gnueabihf from an Ubuntu host.

I mostly ran into errors with openssl and sqlite3, so I had to add and update some dependencies in the Cargo.toml to fix these. `openssl` had to be included with the `vendored` feature:
[code]

And `rusqlite` had to include the feature `bundled` through the `r2d2_sqlite` crate:

[2022-08-14 14:38] mickvandijke commented on #68
https://github.com/torrust/torrust-tracker/pull/69

[2022-08-14 14:38] #68 closed, assigned to mickvandijke

[2022-08-16 13:02] mickvandijke opened #70 "Add compiled binaries for different targets to our releases"

[2022-08-21 13:30] babico commented on #48
I made a simple version, you can check it using these two links

to save this history: https://github.com/babico/torrust-tracker-json

this to plot graph using history (right click > "View Page Source Code" > js scripts are open): https://www.babico.name.tr/stats/

[2022-08-21 13:41] babico opened #72 "Error: Too many open files (os error 24)"
Hi after opening tracker it gives constant error about editing file. I think `data.db` its open, edit and not close after it, but I don't know Rust so I couldn't find any code about it. I try to solve with restarting server for now.
![image](https://babico.s-ul.eu/vIhuKwWp)

![image2](https://babico.s-ul.eu/k2MTUUxk)

[2022-08-22 17:58] mickvandijke commented on #72
Hey @babico ,

Thank you for reporting this issue. I'll look into it.

[2022-08-23 23:39] babico commented on #72
An update to the bug seems to have been fixed when I turn off the HTTP servers. Maybe on HTTP servers. BTW I haven't used the HTTP servers for around 20-25 days but it seems to affect the whole program.

![image2](https://babico.s-ul.eu/VWyDbC4t)
![image1](https://babico.s-ul.eu/b1QBKNIZ)

[2022-08-26 16:59] mickvandijke opened #73 "Add support for dynamic external ip in the config"
IP Addresses can change over time, so it would be useful for tracker operators if they could set a dynamic DNS as external IP. Currently the external_ip config option only supports an IP address.

[2022-08-29 15:04] mickvandijke opened #74 "Tracker API should return an OK status when whitelisting an already whitelisted info hash"

[2022-08-31 18:36] mickvandijke commented on #73
I have put some more thought into this. It might be easier to replace the `external_ip: IpAddress` config option with `replace_local_Ip_with_external_ip: bool`. If this is enabled, the tracker will resolve the external ip using a public API such as https://www.ipify.org/ . And then when a peer announces with a local ip address (such as `192.168.X.X` or `127.0.0.1`), the local ip gets replaced with

[2022-09-01 22:59] onedr0p commented on #70
This would be great!

[2022-09-02 16:28] da2ce7 commented on #73
Hey @WarmBeer,

Let me try and comprehend this.

Currently we have the config option:
[code]
You propose to have:
[code]

1. What is the current behavior when the optional `external_ip` is `empty`?
2. What is the current behavior when `external_ip` is a ipv6 address?
4. What is the behavior when `external_ipv4` is `empty` and `replace_local_peer_ip_with_external_ip` is `false`?

How dose a peer ma

[2022-09-02 18:56] mickvandijke commented on #73
Hey @da2ce7 ,

Currently we have the option `external_ip` in the config which can be an Ipv4 or Ipv6 address, or nothing at all.
If `external_ip` is set, every peer that announces from the same network as the tracker will have their IP replaced with the `external_ip` set in the config.

What I'm proposing is instead of setting the `external_ip` manually, we replace `external_ip` with another optio

[2022-09-03 04:52] da2ce7 commented on #73
Okay, so if you have a peer on the same host or local network as the tracker, the server will see a local or loop-back address from this peer. (the peer doesn't choose their own IP, it is the IP that the server observes that counts?) I.e. the `remote_address`, correct.

It just uses and shares the local or loop-back address?

Same as current behavior?

What happened if the  `external_ip` set an IP

[2022-09-03 08:55] mickvandijke commented on #73
Correct.

Yes, it will just list the peer with the local or loopback ip.

Yes, same as above.

In the current behaviour, every local or loopback address that is either Ipv6 or Ipv4 will be replaced by the ip set in `external_ip`. So it is possible that an Ipv6 loopback address gets replaced by an Ipv4 address and vice versa.

In the proposed behaviour, only Ipv4 local and loopback addresses will b

[2022-09-13 10:08] mickvandijke opened #86 "Replace `r2d2` (non-async) with `sqlx` (async)"

[2022-09-13 16:10] mickvandijke opened #87 "Create benchmarking tool/test for `udp` tracker."

[2022-09-14 10:56] #62 closed, assigned to nobody

[2022-09-20 13:24] josecelano commented on #73
hi @da2ce7 @WarmBeer,

In this [PR](https://github.com/torrust/torrust-tracker/pull/91) I've added some tests for the current behavior.

I think the peer IP is replaced only if it's a loopback IP (both IPv4 to IPv6), not a local network IP.

- Why should we replace the IP if the peer is using the loopback addresses?
- What would be the use case? I suppose this only happens when you have the peer u

[2022-09-21 16:56] josecelano commented on #73
@da2ce7 @WarmBeer I'm working on another [PR](https://github.com/torrust/torrust-tracker/pull/94) to add tests to the TorrentPeer constructor from the requests. This is where all this logic is implemented right now.

[2022-10-04 17:37] josecelano commented on #42
Hi @dev1z, Instead of using an external scraper, I'm trying to reproduce the error with an integration test in this [PR](https://github.com/torrust/torrust-tracker/pull/96).

It would be nice if you could tell me the UDP request and response. And why the response is invalid.

We could also change the workflow to run tests on different OSs in case your error happens only on Windows.

[2022-10-05 06:44] Power2All commented on #42
Could you tell me if Gbitt still shows UDP scrape errors ?
It's build from scratch based on Torrust-Tracker, but if that works fine, I could look into and find the possible issue, perhaps fix it as well.

[2022-10-07 10:17] mickvandijke opened #97 "Statistics tracker should be optional again"
As of [this commit](https://github.com/torrust/torrust-tracker/commit/7abe0f5bde1e209553d1a1e2d6fe644cd46a9395), the statistics tracker runs automatically despite what the configuration says. This can result in degraded performance for users who do not need a statistic tracker.

[2022-10-07 15:45] josecelano commented on #42
hi @Power2All, I'm working on a [PR](https://github.com/torrust/torrust-tracker/pull/96) in which I want to add some [integration tests.](https://github.com/torrust/torrust-tracker/pull/96)

I have not yet added a test for the "scrape" request because I've had concurrency problems. @WarmBeer helped me to fix them.

I run the test with a local UDP server, but you can easily change the code to use a

[2022-10-19 12:39] josecelano commented on #42
hi @Power2All I've updated the [gbitt-udp-e2e-tests branch](https://github.com/torrust/torrust-tracker/tree/gbitt-udp-e2e-tests) with the "scrape" test. The basic behaviour for scrapping seems to work.

[code]

I'm also using qBittorrent for tests. I've added the tracker with the IP (like in the tests) and the domain. I git this error when using the domain:

![image](https://user-images.githubuser

[2022-10-19 13:31] Power2All commented on #42
@josecelano That's really weird.
Unless the domain is not resolving, somehow.
Could you try in a command prompt:

`nslookup tracker-udp.gbitt.info` and send me the response ?
Thanks !

[2022-10-19 13:37] josecelano commented on #42
[code]

But it's working again. Although it seems now it does not work with the IP:

![image](https://user-images.githubusercontent.com/58816/196707093-8c9883be-eb26-44b5-a9fc-fe86118ed7bd.png)

[2022-10-19 13:45] Power2All commented on #42
@josecelano I found the problem.
Fixing UDP handler to spawn a thread to deal with UDP handler, it's not doing that and it's taking too long sometimes.

[2022-10-19 13:48] josecelano commented on #42
@Power2All please, let us know when you fix it so I can also fix it in this repo.

On the other hand, I suppose that error is not related to this issue, isn't it?

[2022-10-19 13:57] Power2All commented on #42
@josecelano Correct, this is for my own project.
Torrust-Tracker is getting some rewrite on the UDP stack, what I heard from @WarmBeer .
This fix I applied is for my Axum variant of the Torrust Tracker.

[Edit]
Yep, it seems to be fully fixed.
Giving the handler a thread, speeds up a ton, and no lagging UDP connection.

[2022-10-19 19:31] Power2All commented on #42
@josecelano
Alright, after investigating and using Wireshark, it seems my tracker, even with and without the fix I applied, works flawless. The problem is, qBittorrent is having sometimes issues, and is very slow, sometimes too slow, to handle the returned UDP data back, and it says "updating", and sometimes timing out, for no reason, even though it received back the return packet properly.
After

[2022-10-21 08:17] #97 closed, assigned to nobody

[2022-10-21 09:41] da2ce7 commented on #42
@Power2All If reasonably possible can you please create the appropioate issue for qBittorrent or libbittorrent and link it here for tracking purposes?

[2022-10-22 09:12] Power2All commented on #42
https://github.com/qbittorrent/qBittorrent/issues/17909

[2022-10-24 11:49] #42 closed, assigned to nobody

[2022-10-30 06:05] da2ce7 opened #106 "[proposal] Move Torrust-Tracker to Apache License 2.0 to Match Aquatic Tracker"
Hello @WarmBeer,

I would like to propose that we change the license of this repository (Torrust Tracker) to the [Apache License 2.0](https://www.apache.org/licenses/LICENSE-2.0.html).

My primary motivation for promoting this change is to have bi-directional license comparably with the [aquatic: high-performance open BitTorrent tracker](https://github.com/greatest-ape/aquatic).

Currently our lic

[2022-10-30 23:51] mickvandijke commented on #106
Hey @da2ce7 ,

I fully support switching to either Apache 2.0 or MIT. Distributing binaries would be a lot easier without having to work out all the incompatible licenses with AGPL :). I think it would also be more inviting for other developers and companies to build upon Torrust if we had a less restrictive license.

[2022-10-31 01:29] ldpr opened #107 "[feature request] make tracker statistics available via prometheus"
Currently the tracker stats are output in json, it'd be pretty neat if we could have them available via prometheus so we could hook them into things like grafana etc.

https://docs.rs/prometheus_exporter/latest/prometheus_exporter/

Maybe we could have a config option for json _or_ prometheus?

Obviously this isn't important or anything, would be a "nice to have". Thanks for everything you do guys

[2022-10-31 07:04] greatest-ape commented on #87
I would recommend you to just use https://github.com/greatest-ape/aquatic/tree/master/crates/udp_load_test .

(edit by @da2ce7, fix link)

[2022-11-04 10:35] josecelano opened #108 "API endpoint for keys was accidentally changed"
The tracker has an [endpoint to generate new keys](https://github.com/torrust/torrust-tracker/blob/develop/src/api/server.rs#L260-L278).

The response for that endpoint was like:

[code]

But now is like this:

[code]

The change was introduced in this commit cab093c026cf253ba6f7208211953a25b3d1c91b by @da2ce7.

The struct:

[code]

changed to:

[code]

Since we automatically build the json object

[2022-11-23 12:16] josecelano opened #111 "Use a `.cspell.json` repo config file instead of `.vscode/settings.json`"
We have the `cspell` word list in the IDE settings. I would move it to a `.cspell.json` file in the root dir:

[code]

[2022-11-23 12:41] da2ce7 commented on #111
closed by #110

[2022-11-23 14:20] #111 closed, assigned to nobody

[2022-11-23 16:05] #108 closed, assigned to josecelano

[2022-11-24 13:41] mickvandijke opened #116 "Replace `warp` with `axum`"
- [x] https://github.com/torrust/torrust-tracker/issues/143
- [x] https://github.com/torrust/torrust-tracker/issues/160

[2022-11-25 17:05] #74 closed, assigned to nobody

[2022-11-28 18:13] da2ce7 commented on #116
@josecelano suggested that we might want to consider [Rocket](https://rocket.rs/). From the looks of it, it seems really cool!

https://github.com/SergioBenitez/Rocket/tree/master

[2022-11-29 17:24] #61 closed, assigned to nobody

[2022-11-30 16:53] josecelano opened #120 "Rename API endpoint field for auth key generation"
Rename the field `valid_until` in the auth key generation endpoint:

POST /api/key/:expiry_time

[code]

- `valid_until` is the current field. Timestamp.
- `expiry_time` is the new field. Datetime ISO with timezone.

_Originally posted by @da2ce7 in https://github.com/torrust/torrust-index-backend/issues/78#issuecomment-1332453152_

### NOTES:

- Keep the current field until the next major release

[2022-11-30 17:24] da2ce7 commented on #116
In addition, by the same primary author as Rocket, there is [Figment](https://github.com/SergioBenitez/Figment), for managing the configuration the application.

[2022-11-30 18:11] josecelano commented on #120
Reopen [this issue](https://github.com/torrust/torrust-index-backend/issues/78) on the backend when this issue is finished.

[2022-11-30 18:23] josecelano commented on #35
hi @iloveyourwife , I would like to know more about your case. It would be interesting to make migration from other tools more accessible. We've merged a new [feature to migrate data from a previous DB schema to the last one](https://github.com/torrust/torrust-index-backend/pull/77).

Maybe we can write a new console command to import keys, but we need to know the following:

- If keys are compati